/* TABLE OF CONTENTS */
/* NAVBAR */
* {
  box-sizing: border-box;
}
.about-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  /*background-image: url("../../src/images/sunset.jpg");*/
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 0%;
  text-align: center;
  font-family: "Times New Roman", Courier, monospace;
  font-weight: bold;
}
.container-fluid-about {
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-fluid-portfolio {
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul.navbar-nav {
  justify-content: space-evenly;
}
.navbar-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
/* ABOUT PAGE */
img#website-photo {
  height: auto;
  width: 300px;
  align-self: center;
  border-color: black;
  border-radius: 20%;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
}
p#bio {
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 77%; /* added */
  margin: auto; /* added */
  padding: 20px;
  font-family: "Open Sans";
  text-align: center;
}
section#portfolio-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HEADER, COL, ROW */
h1.header {
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: "Berkshire Swash";
}
.display-4 {
  color: white;
  font-family: "Pacifico", cursive;
}
h2 {
  text-align: center;
  color: #235926;
  background-color: #d9669b;
  font-weight: bold;
  font-family: "Open Sans";
}
.col {
  background-color: transparent;
  display: inline;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-right: auto;
  margin-left: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* IMAGES */
img.image {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  height: 150px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 2px;
  display: flex;
  padding: 2%;
  position: relative;
  align-self: center;
}
/* BUTTON */
button {
  background-color: #235926;
}
/* LINKS */
.github {
  display: flex;
  color: #d9669b;
  font-family: "Open Sans";
}
/* FOOTER */
footer.page-footer {
  background: rgba(0, 0, 0, 0.562);
  height: 20%;
  color: #fff;
  text-align: center;
}
.footer-copyright {
  text-align: center;
}
/* ICONS */
i.fa {
  margin-top: 10px;
  font-size: 90px;
  width: 80px;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-github {
  color: black;
}
.fa-linkedin-square {
  color: rgb(0, 132, 255);
}
@media screen and (max-width: 800px) {
  .col {
    flex: 75%;
    width: 100%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 415px) {
  .col {
    width: 100%;
    flex: 50%;
  }
}
